
        *{
            font-family: Tahoma;
            font-size: 14px;
           
        }
        table{
            border:1px black solid;
            border-collapse:collapse;
        }
        th{
            width:120px;
            padding:5px;
            border:1px black solid;
        }
        td{
            border:1px black solid;
            padding: 5px;
            text-align: center;
        }
        a{
            display: block;
            text-align: center;
            text-decoration: none;
            color: white;
            background-color: blue;
            transition-duration: 0.4s;
        }
        .insert{
            width: 180px;
            height: 25px;
            padding: 10px;
            margin: 10px;
            font-size: 16px;
            font-weight: 600;
            float: left;
        }
        a:hover{
            background-color: darkslateblue;
        }
        .updel{
            width: 40px;
            height: 20px;
            padding: 5px;
            margin: 5px;
            float: left;
            font-weight: 600;
        }
        form{
            display: block;
            margin: 10px;
        }
        .search{
            height: 30px;
            width: 180px;
            font-size: 16px;
        }
        .button{
            text-align: center;
            text-decoration: none;
            color: white;
            background-color: blue;
            font-size: 16px;
            font-weight: 600;
            border: none;
            height: 35px;
        }
        .button:hover{
            background-color: darkslateblue;
        }
  